# Port de l'api
PORT=3000

# DB URL
DB_URL=postgres://user:password@localhost:5432/dbname

# JWT SECRET
JWT_SECRET=ta_clé_secrète_super_sécurisée

NODE_ENV=quelquechose

# EmailJS
EMAILJS_SERVICE_ID=service_xxx
EMAILJS_TEMPLATE_ID_CONFIRM=template_confirm
EMAILJS_TEMPLATE_ID_RESET=template_reset
EMAILJS_PUBLIC_KEY=ta_clef_publique

EMAIL_USER=
EMAIL_PASSWORD=